<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.daluz.android.kotlin.todotask"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoTask"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activities.TaskAddActivity"
            android:label="@string/task_add"
            android:launchMode="singleTop"
            android:parentActivityName="br.com.daluz.android.kotlin.todotask.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>